<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="nev"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>dvds List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let dvd of dvds; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActivedvd(dvd, i)"
        >
          {{ dvd.cim }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAlldvds()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <app-dvd-details
        [viewMode]="true"
        [currentdvd]="currentdvd"
      ></app-dvd-details>
    </div>
  </div>
  